// Button
.button {
	font-weight: $weight-semibold;
	text-transform: uppercase;
	font-size: $size-small !important;
	height: 50px !important;
}

// Navbar {
.navbar {
	text-transform: uppercase;
	font-size: 0.8rem;
}

// Cart
.cart {
	.input {
		height: 50px !important;
	}
	.field.has-addons {
		.button {
			padding: 0 25px !important;
			border: 1px solid $grey-lighter;
			&.is-white {
				border: none;
			}
		}
	}
	.item-total {
		padding-top: 14px;
	}
}

// Loading spinner - loading.io/css
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
	height: 80px;
	div {
		box-sizing: border-box;
		display: block;
		position: absolute;
		width: 64px;
		height: 64px;
		margin: 8px;
		border: 8px solid #fff;
		border-radius: 50%;
		animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
		border-color: $black transparent transparent transparent;
		&:nth-child(1) {
			animation-delay: -0.45s;
		}
		&:nth-child(2) {
			animation-delay: -0.3s;
		}
		&:nth-child(3) {
			animation-delay: -0.15s;
		}
	}
}


@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Lazy Image
.v-lazy-image {
  filter: blur(10px);
  transition: filter 0.7s;
}
.v-lazy-image-loaded {
  filter: blur(0);
}
